<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSR_Airlines.Settings1.ConnectionString" connectionString="Data Source=DESKTOP-1KN5R8D;Initial Catalog=Session1;Integrated Security=True" />
    </connectionStrings>
</configuration>